body {
    background-color: black;
    padding: 0;
    margin: 0;
}

a {
    font-size: 24px;
    color: green;

}

.input_size_big[placeholder] {
    color: #940000;

}

.input_size_big {
    font-size: 68px;
    color: red;

    background-color: inherit;

    border: 0px;
    padding: 30px;

    width: 100vw;
    height: 100%;
    transition:color 1s 1s linear;
}

.input_color_green {
    color: green !important;
}
